/* animate example */
body.animate-active { 
	overflow: hidden; 
}
* {
	position: relative;
}

.cards {
	font-family: sans-serif; 
}
.cards * {
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
}
.card {
	background: rgb(200,0,100);
	width: 100%;
	max-width: 420px;
	margin: auto;
	padding: 20px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	overflow: hidden;
	transform-origin: 0 0;
}
.card p { 
	color:#FFF; 
	pointer-events:none; 
}

/* animation states */
.animate-running {
	z-index: 9999;
}
.scaled {
	position: fixed;
	height: 100%;
	max-width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.moveTop {
	top: -60px;
	z-index: 100;
}
.moveBottom {
	bottom: -60px;
	z-index: 100;
}
.moveLeft {
	left: -25%;
	z-index: 100;
}
.moveRight {
	right: -25%;
	z-index: 100;
}
.fade {
	animation: 300ms fade-out;
}

@keyframes fade-out { from { opacity: 1; } to { opacity: 0; }  }