* {
  margin: 0;
  padding: 0;
}

html {
	font-size: 1.2em;
	line-height: 1.96;
  text-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
	color: #111;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  max-width: 1400px;
  counter-reset: label-counter;
}

.logo {
	cursor: pointer;
	display: block;
  width: 102px;
  height: 84px;
  margin-top: 46px;
  z-index: 900;
  transform: translateZ(0);
}

.center {
	text-align: center;
}

section {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	float: left;
	max-width: 400px;
}

.card p {
	width: 90%;
}

.logo img {
	width: 100%;
}

a {
  color: #a00000;
  text-decoration: none;
}

header nav a:hover {
	color: #5f0000;
}

header > nav {
  width: 90%;
  padding: 1em 0;
}

header > nav:after,
article:after,
section:after {
  content: "";
  display: table;
  clear: both;
}

header > nav a {
  font-size: 0.8em;
  font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #a00000;
  padding-top: 1.4em;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2em;
  vertical-align: baseline;
}

h1, h2 {
  font-weight: normal;
  font-size: 1.8em;
  line-height: 2;
  max-width: 90%;
}

h2 {
  font-size: 1.4em;
  font-style: italic;
}

h1:not(:first-child) {
	position: relative;
	margin-top: 3em;
}

h1:not(:first-child):before,
hr {
  content: ' ';
  width: 40px;
  height: 1px;
  background: currentColor;
  border: none;
  display: block;
  background-color: #c7beaa;
}

h1:not(:first-child):before {
	position: absolute;
	left: 0;
	top: -46px;
}

hr {
	margin: 2em 0;
}

article {
	position: relative;
	padding: 1.4em 0 4em;
}

p, li, pre {
  width: 60%;
}

p, ol, ul {
  font-size: 1em;
}

ol, ul {
	margin: 1.8em 2em;
}

li {
	padding-left: 1em;
}

p, li {
  line-height: 2;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0;
  vertical-align: baseline;
}

p > a:link, li > a:link {
	background-position-y: 87%, 87%, 87%;
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

p > a:link, p > a:visited,
li > a:link, li > a:visited {
  color: inherit;
}

p label, li label {
	display: inline;
	counter-increment: label-counter;
}

p label:after,
li label:after,
p .notes:before,
li .notes:before {
  font-size: 0.8em;
  color: #a00000;
  position: relative;
  vertical-align: baseline;
}

p label:after,
li label:after {
	content: counter(label-counter);
	top: -0.6em;
	left: 0em;
}

.note:before {
  content: counter(label-counter) ". ";
  color: #a00000;
  top: 0em;
}

.note,
.margin {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1.8em;
  font-size: 0.8em;
  vertical-align: baseline;
  position: relative;
}

.note strong,
.margin strong {
	font-variant: small-caps;
}

figure, figure img.maincolumn {
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em;
}

figcaption {
  float: right;
  clear: right;
  margin-right: -50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

img {
  max-width: 100%;
}

.note img, .margin img {
	max-width: 90%;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;

	box-sizing: border-box;
	padding: 0 20px;
	margin: 3em 0;
}

.math {
	text-align: center;
	font-family: STIXGeneral-Italic;
	font-size: 1.4em;
}

@media (max-width: 760px) {
	pre {
		white-space: pre;
		word-wrap: normal;
		overflow-x: auto;
	}
	.note, .margin {
  	display: none;
	}
	p, li, pre {
		width: 90%;
	}
	body {
		padding-left: 10%;
	}
	html {
		font-size: 1em;
	}
	table {
		width: 100%;
	}
	th {
		display: none;
	}
	td {
		display:block;
		width: 100%;
	}
}

table {
	border-spacing: 0px;
}

th, td {
	box-sizing: border-box;
	font-size: 1em;
	padding: 0.4em 2em 0.4em 0em;
	text-align: left;
}

td:last-child {
	padding-right: 0;
}

th {
	text-transform: capitalize;
}
