* {
	box-sizing: border-box; 
	margin: 0; 
	padding: 0;
}
body {
	background: #F8F5F2;
	font-family: 'Helvetica Neue', sans-serif;
}
.wrap { 
	max-width: 340px; 
	width: 100%;
	margin: 0 auto
}
.logo {
	margin: 50px 0;
}
.nav {
	margin-bottom: 30px
}
.nav li {
	display: inline-block;
}
a {
	color: #332E22;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;
	margin-right: 16px
}

p {
	font-size: 19px;
	color: #535353;
	line-height: 38px;
}
.wrap > a {
	background:rgb(52,46,33);
	box-shadow:0px 1px 0px rgba(0,0,0,0.2);
	color: #FFF;
	font-size: 16px;
	padding: 16px 24px;
	margin: 30px 0;
	display: inline-block;
}
pre {
	max-width: 440px;
	width: 100%;
	box-shadow:0px 1px 4px rgba(216,211,206,0.3);
	border: 1px solid rgba(217,211,205,0.6);
	background: #FFF;
	margin: 0 auto;
	padding: 36px 30px;
	margin: 20px auto 120px auto;
	overflow: auto;
}
pre .key{
	color:#AA0C91;
}
pre .string{
	color:#C41A16;
}

