* {
	box-sizing: border-box; 
	position: relative;
}

html, 
body, 
.app {
	height:100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.MarkdownEditor .input, 
.MarkdownEditor .output {
	padding: 20px;
	width: 50%;
	height: 100%;
	float: left;
}

.MarkdownEditor textarea {
	width: 100%;
	outline: none;
	resize: none;
	border: none;
	font-family: Helvetica, arial, sans-serif;
	line-height: 1.6;
	color: #333;
	overflow: hidden;
}

/* animate example */
.cards * {
	position: relative;
}

.cards {
	font-family: sans-serif; 
}
.cards * {
	margin:0; 
	padding:0; 
	box-sizing: border-box;
}
.card {
	background: rgb(200,0,100);
	width: 100%;
	max-width: 420px;
	margin: auto;
	padding: 20px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	overflow: hidden;
	transform-origin: 0 0;
}
.card p { 
	color:#FFF; 
	pointer-events:none; 
}

.TodoApp li {
	background: #CCC;
}

/* animation states */
.animation-running {
	z-index: 9999;
}
.scaled {
	position: fixed;
	height: 100%;
	max-width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
}
.moveTop {
	top: -60px;
	z-index: 100;
}
.moveBottom {
	bottom: -60px;
	z-index: 100;
}
.moveLeft {
	left: -25%;
	z-index: 100;
}
.moveRight {
	right: -25%;
	z-index: 100;
}
.slideUp {
	pointer-events: none;
	transition: transform 120ms ease, margin-top 120ms 120ms;
	transform: scale(1,0);
	margin-top: -18px;
}


svg path,
svg text { transition: opacity 0.1s linear; }
svg.faded path { opacity: 0.25; }
svg path.active { opacity: 1 !important; cursor: pointer; }
path.animate {
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		animation: dash 5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
@keyframes dash { to { stroke-dashoffset: 0; } }